.venv/
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/
.mypy_cache/

logs/
runs/
outputs/
videos/
wandb/
recordings/
*.tmp

_isaac_sim
_isaac_sim/
_isaac_sim?
env_isaaclab/

assets/usd/
assets/usd_cache/
assets/meshes_simplify_collision/
assets/urdf_simplify_collision/

*.h5
data/*
!data/xhand/
data/xhand/*
!data/xhand/dexterhand-*.h5
!data/xhand/arctic-*.h5
!data/xhand/grab-*.h5
!data/sharpa/
data/sharpa/*
!data/sharpa/*.h5
